@media only screen and (max-width: 1023px) {

	.container {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.intro,
	.order {
		background-size: cover;
	}

	.excursion {
		
		&__info {
			margin: 50px 0 0;
			padding: 0;
			text-align: center;
			background: none;

			&-list {
				display: inline-block;
			}

			&-listitem {
				text-align: left;
			}

			&-form {
				justify-content: center;

				.form__submit {
					margin-left: 10px;
				}
			}
		}
	}

	.modal {
		align-items: center;
		width: 100%; max-width: 500px;
		padding-left: 60px;
		text-align: center;
		background: $color-white !important;
	}

	.modal_terms {
		max-width: 100%;

		ul {
			padding: 0;
			list-style: none;
		}
	}
}


@media only screen and (max-width: 767px) {

	.header {

		&__link {
			display: none;
		}
	}

	.intro {
		padding: 90px 0 45px;

		&__zhk-list {
			margin-left: 0;
			margin-right: 0;
			padding: 0;
		}

		&__zhk {
			max-width: 100%;

			&-img {
				display: block;
				max-width: 100%;
				margin: 0 auto;
			}
		}
	}

	.excursion {

		&__info {
			margin-top: 25px;

			&-list {
				margin-bottom: 40px;
			}

			&-arrow {
				margin-left: auto;
				margin-right: auto;
			}

			&-form {
				flex-direction: column;
				align-items: center;
				justify-content: center;

				.form__submit {
					margin: 10px 0 0;
				}
			}

			&-left {
				font-size: 20px;
			}
		}

		&__photos {
			flex-wrap: wrap;
		}

		&__photo {
			width: 100%;
			margin: 0;

			&:first-child,
			&:last-child { 
				margin: 0;
			}
		}
	}

	.order {
		padding-bottom: 60px;

		&__content {
			flex-wrap: wrap;
			margin-top: 0;
		}

		&__mortgage,
		&__installments {
			width: 100%;
			height: auto;
			margin-top: 50px;
		}

		&__banks {
			margin: 25px 0 0;
		}

		&__bank {

			&, &:not(:first-child) {
				margin: 0 5px;
			}

			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}

		&__more-banks {
			margin-top: 25px;
		}

		&__installments-terms {
			margin-top: 25px;
			line-height: 1;
		}

		&__btn {
			position: relative;
			left: 0;
			margin: 25px auto 0;
		}
	}

	.modal {
		padding: 0;
	}

	.modal_terms {
		max-width: 500px;
		padding: 30px 15px;
	}
}