@font-face {
    font-family: 'Circle';
    font-weight: normal;
    src: url('../fonts/CircleRegular.woff') format('woff'),
    	 url('../fonts/CircleRegular.svg') format('svg');
}

@font-face {
    font-family: 'Circle';
    font-weight: 700;
    src: url('../fonts/CircleBold.woff') format('woff'),
    url('../fonts/CircleBold.svg') format('svg');
}