/* --------- variables --------- */


$color-black:  #000;
$color-white:  #fff;
$color-yellow: #fed800;
$color-orange: #ff8400;

$font-circle: 'Circle', 'Open Sans', sans-serif;


/* --------- global elements styles --------- */


*,
*:before,
*:after {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

input::-ms-clear {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

body {
  font-family: $font-circle;
}

.slick-slide,
input, textarea, button,
a, a:focus, a:active {
  outline: none;
}

.container {
  position: relative;
  width: 1002px;
  margin: 0 auto;
}

.yellow-btn {
  display: block;
  margin: 0 auto;
  transition: all .3s;
  text-transform: uppercase;
  color: #661500;
  background: #f6fe00;
  background: linear-gradient(to bottom, #f6fe00 0%, #ffd300 100%);
  border: none;
  border-bottom: 3px solid #d3a731;
  border-right: 3px solid #d3a731;
  border-radius: 5px;

  position: relative;
  overflow: hidden;

  &:hover {
    transition: all .3s;
    border-bottom: 3px solid #9e7f2a;
    border-right: 3px solid #9e7f2a;
  }
}


/* --------- header --------- */


.header {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 64px;
  padding: 15px 0;
  z-index: 3;
  background: transparent;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__logo,
  &__link,
  &__phone {
    color: $color-white;
  }

  &__logo {
    padding: 3.5px 0 3.5px 10px;
    font-size: 12.19px;
    line-height: 13.2px;
    border-left: 1px solid $color-white;
  }

  &__link,
  &__phone {
    line-height: 1;
  }

  &__link {
    font-size: 17.52px;
    border-bottom: 1px solid $color-white;

    &:not(:first-child) {
      margin-left: 35px;
    }

    &:hover {
      color: $color-yellow;
    }
  }

  &__phone {
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    margin-left: 25px;
    padding-left: 33px;
    background: url('../img/icon-phone.png') no-repeat left center;
  }
}


/* --------- intro --------- */


.intro {
  padding: 110px 0 70px;
  text-align: center;
  background: url('../img/bg-intro.jpg') no-repeat center top;

  &__title,
  &__subtitle {
    font-weight: 700;
    line-height: 1;
    color: $color-white;

    span {
      color: $color-yellow;
    }
  }

  &__title {
    font-size: 43px;
  }

  &__subtitle {
    margin-top: 10px;
    font-size: 26px;
  }

  &__zhk-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 50px 0 -8px;
    padding: 0 11px;
  }

  &__zhk {
    position: relative;
    width: 318px;
    margin: 0 4px 8px;

    &-title,
    &-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0; width: 100%;
      height: 40px;
      background: rgba($color-white, .73);
    }

    &-title {
      top: 0;
      font-weight: 700;
      font-size: 19.42px;
      line-height: 1;
    }

    &-bar {
      bottom: 0;
    }

    &-img {
      display: block;
      cursor: pointer;
    }

    &-btn {
      width: 160px; height: 29px;
      font-size: 9.53px;
      font-weight: 100;
      line-height: 28px;
      text-transform: uppercase;
    }
  }
}


/* --------- excursion --------- */


.excursion {
  padding: 40px 0;
  color: #43321e;
  background: $color-white;
  text-align: center;

  &__title {
    font-weight: 700;
    line-height: 1;

    &-first, &-second {
      font-size: 30px;
    }

    &-third, &-fourth {
      font-size: 50.17px;
    }

    &-second {
      font-weight: 400;
    }

    &-third {
      color: $color-orange;
    }
  }

  &__info {
    max-height: 560px;
    margin-top: 70px;
    padding-top: 50px;
    padding-left: calc(100% - 440px);
    text-align: left;
    background: url('../img/bg-excursion.jpg') no-repeat left top;

    &-text {
      margin-bottom: 15px;
      font-weight: 700;
      font-size: 24px;
      line-height: 1;
    }

    &-list {
      margin: 0 0 80px;
      padding: 0;
      list-style: none;
    }

    &-listitem {
      padding-left: 28px;
      font-size: 20px;
      line-height: 1;
      background: url('../img/icon-check.png') no-repeat left center;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &-arrow {
      display: block;
      width: 21px; height: 23px;
      margin: 0 0 25px;
      margin-left: 265px;
      background: url('../img/icon-yellow-arrow.png') no-repeat center;
      animation-name: wobble-horizontal;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1111;
    }

    &-form {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 30px;
      border-bottom: 2px solid #393029;

      .form__input {
        width: 234px;
      }

      .form__submit {
        width: 188px; height: 42px;
        margin: -1px 0 0;
        font-size: 15.37px;
        line-height: 42px;
      }
    }

    &-left {
      margin-top: 18px;
      font-size: 21.51px;

      span {
        display: inline-block;
        margin: 0 4px;
        padding: 9px 11px 5px;
        font-weight: 700;
        font-size: 24px;
        line-height: 1;
        background: $color-yellow;
        border-radius: 5px;
      }
    }
  }

  &__how-much {
    margin-top: 55px;
    font-size: 27.37px;
    line-height: 1;

    b, strong {
      font-weight: 700;
    }

    b {
      font-size: 40.38px;
    }

    strong {
      color: $color-orange;
    }
  }

  &__photos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 55px;
  }

  &__photo {
    display: block;
    width: calc(50% + 4px);

    &:first-child { margin-right: -4px; }
    &:last-child { margin-left: -4px; }
  }
}


/* --------- order --------- */


.order {
  padding: 60px 0 80px;
  color: $color-white;
  background: url('../img/bg-order.jpg') no-repeat center top;
  text-align: center;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 33.74px;
    line-height: 1;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 95px;
  }

  &__installments,
  &__mortgage {
    position: relative;
    width: 50%;
    height: 420px;
  }

  &__banks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 80px 0 -25px;
  }

  &__bank {
    display: block;
    margin-bottom: 25px;

    &:not(:first-child) {
      margin-left: 36px;
    }
  }

  &__more-banks {
    display: block;
    margin-top: 35px;
    font-size: 18.95px;
    line-height: 1;
  }

  &__installments-terms {
    margin-top: 100px;
    font-size: 36.89px;

    span {
      display: block;
      font-size: 50.62px;
      line-height: 1;
    }
  }

  &__btn {
    position: absolute;
    bottom: 0; left: 50%;
    margin-left: -120px;
    width: 240px; height: 42px;
    line-height: 42px;
    font-weight: 700;
    font-size: 14.2px;
  }
}


/* --------- footer --------- */


.footer {
  padding: 30px 0 10px;
  text-align: center;

  &__text {
    font-size: 20px;
    line-height: 1;

    span {
      font-weight: 700;
    }
  }

  &__copyrights {
    display: block;
    margin-top: 25px;
    color: #969696;
    font-size: 12.07px;
    line-height: 11.9px;

    a {
      color: $color-black;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


/* --------- form --------- */


.form {

  &__input {
    padding: 5px 9px 3px;
    font-family: $font-circle;
    font-size: 19.44px;
    color: #222;
    background: #ecf0ef;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 5px 4.95px 0.05px rgba(0, 0, 0, .37) inset;

    &::-webkit-input-placeholder { color: #88908e; }
    &:-moz-input-placeholder { color: #88908e; opacity: 1; }
  }

  &__submit {
    font-family: $font-circle;
    font-weight: 700;
  }
}


/* --------- modal --------- */


.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 806px; height: 456px;
  margin: 0 auto;
  padding-left: 470px;
  padding-right: 60px;
  color: #393029;
  background-color: $color-white;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 5px;

  &__title {
    font-weight: 700;
    font-size: 23.44px;
    line-height: 27px;

    &:not(:first-child) {
      margin-top: 20px;
    }

    span {
      font-size: 20px;
      line-height: 24.44px;
    }
  }

  &__text {
    margin-top: 20px;
    font-size: 17.34px;
    line-height: 22px;

    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__form {
    display: block;
    width: 100%; max-width: 272px;
    margin-top: 30px;

    .form__input,
    .form__submit {
      display: block;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    .form__input {
      padding: 9px 9px 7px;
      font-size: 13px;
    }

    .form__submit {
      height: 34px; line-height: 34px;
      font-size: 13px;
    }
  }
}

.modal_terms {
  height: auto;
  padding: 60px;
}

#zhk-vesna { background-image: url('../img/bg-popup-vesna.jpg'); }
#zhk-romantika { background-image: url('../img/bg-popup-romantika.jpg'); }
#zhk-21-vek { background-image: url('../img/bg-popup-21-vek.jpg'); }
#zhk-svetlaya-dolina { background-image: url('../img/bg-popup-svetlaya-dolina.jpg'); }
#zhk-art-siti { background-image: url('../img/bg-popup-art-siti.jpg'); }
#zhk-tsarevo { background-image: url('../img/bg-popup-tsarevo.jpg'); }
#installments { background-image: url('../img/bg-popup-installments.jpg'); }
#mortgage { background-image: url('../img/bg-popup-mortgage.jpg'); }


/* --------- animations --------- */


.ink {
  display: block;
  width: 100px; height: 100px; 
  right: 0; bottom: -70px;
  position: absolute;
  background: rgba(255, 255, 255, .95);
  border-radius: 100%;
  transform: scale(0);
  animation: ripple 2s linear infinite;
}

@keyframes ripple {
  30%, 100% {opacity: 0; transform: scale(3);}
}

@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateY(12px);
    -ms-transform: translateY(12px);
    transform: translateY(12px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}